<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="k.opt">

  <!--  <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="Android.permission.MOUNT_UNMOUNT_FIFESYSTEMS"/>
    <package name="com.android.provision"
             codePath="/system/app/Provision.apk"
             nativeLibraryPath="/data/data/com.android.provision/lib"
             flags="1" ft="11b7e237e00" it="11b7e237e00"
             ut="11b7e237e00" version="15" userId="10005">
        <sigs count="1">
            <cert index="1" />
        </sigs>
        <disabled-components>
            <item name="com.android.provision.DefaultActivity" />
        </disabled-components>
    </package>


    <application
        android:name=".KApplication"
        android:theme="@style/KTheme"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="opt"
        android:supportsRtl="true"
       >
        <activity android:name=".activity.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ch2Draw.LayoutPerActivity">

        </activity>
        <activity android:name=".ch2Draw.OverDrawActivity">
         <!--   <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>-->
        </activity>
        <service android:name="k.opt.monitor.memory.LeakCanaryService" />
    </application>

</manifest>